body {
    background-image: url(img/background.JPG);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight1{
    color: rgb(255, 0, 234);
    font-weight: bold;
}

.highlight2{
    color: rgb(0, 217, 255);
    font-weight: bold;
}

.highlight3{
    color: blueviolet;
    font-weight: bold;
}

.highlight4{
    color: rgb(9, 255, 0);
    font-weight: bold;
}

.highlight5{
    color: rgb(0, 34, 255);
    font-weight: bold;
}

.highlight6{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.highlight7{
    color: yellow;
    font-weight: bold;
} 

p {
    margin: 0px;
}

td {
    border: 1px solid #000000;
}


.reset {
    clear: both;
}

.social {
    float: left;
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0px 0px 0px 18px;
}




#info {
    width: 850px;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    background-color: #fd000000;
}


#nav {
    height: 30px;
    margin: 0px 0px 10px 0px;
}

#nav a {
    padding: 10px;
    background: #0116ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

#nav a:hover {
    background: #5d41cd;
}


#mainText {
    color: #000000;
}

#intro {
    width: 470px;
    float: left;
    margin: 0px 0px 0px 37px;
}

#mefoto {
    float: left;
}


#hobby {
    width: 420px;
    height: 151px;
    float: left;
    margin: 44px 0px 42px 0px;
}

#hobby h2 {
    margin: 0px;
}

#hobiefoto {
    float: left;
    margin: 44px 0px 42px 53px;
}


#meme {
    float: left;
}
